body {
    margin: 0;
    padding: 0;
    background-image: url("Images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
}

/* Transparent container */

.container {
    height: 90%;
    width: 66%;
    padding: auto;
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(20, 19, 19, 0.637);
    border-radius: 15px;
}

.header{
    width: 100%;
}
.logo {
    display: block;
    width: 15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
    padding-top: 5%;
}

.logo_text {
    color: rgb(9, 237, 9);
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 20px;
    font-family: sans-serif;
}

/* Navigation tab & inputs */

.nav-menù {
    background-color:rgb(9, 237, 9) ;
    height: 5%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.nav-inputs {
    display: inline-block;
    margin-top: 0.5%;
}

/* Scooter name, description and charge left */

.mono-description {
    margin-left: 15%;
    margin-right: 15%;
}

.mono-description h1 {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 0;
}

.mono-description h2 {
    font-size: 12px;
    font-family: sans-serif;
    font-weight: lighter;
    color: white;   
    margin: 1px;
}

.mono-description .charge-bar1 {
    margin-left: 0;
    margin-right: 50%;
    background-color: orange;
    height: 20px;
    width: 50%;
    border-radius: 5px;
}

.mono-description .charge-bar2 {
    margin-left: 0;
    margin-right: 80%;
    background-color: red;
    height: 20px;
    width: 20%;
    border-radius: 5px;
}

.mono-description .charge-bar3 {
    margin-left: 0;
    margin-right: 30%;
    background-color: green;
    height: 20px;
    width: 70%;
    border-radius: 5px;
}